@charset "utf-8";

@font-face{
  font-family: 'MyFont';
	src: url('font/LightNovelPop.otf');
}

@font-face{
  font-family: 'Hiragino Maru Gothic ProN';
  src: 'Hiragino Maru Gothic ProN';
}

body{
  /* background: -moz-linear-gradient(top, rgba(255,240,221,.8),a rgba(255,255,255,.8), url('img/WoodBackGround.jpg'));
  background: -webkit-linear-gradient(top, rgba(255,240,221,.8),a rgba(255,255,255,.8), url('img/WoodBackGround.jpg'));
  background: linear-gradient(to bottom, rgba(255,240,221,.8),a rgba(255,255,255,.8), url('img/WoodBackGround.jpg')); */
  background: -moz-linear-gradient(top, #FFF0DD, #FFFFFF);
  background: -webkit-linear-gradient(top, #FFF0DD, #FFFFFF);
  background: linear-gradient(to bottom, #FFF0DD, #FFFFFF);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  font-family: MyFont;
  /* font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN', 'ヒラギノ丸ゴ Pro W4',
  'Hiragino Maru Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', YuGothic, 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif; */
  color: #605040;
  text-shadow: 1px 2px 0px #a0a0a099;
  font-size: 18px;
                                      /* ドット（水玉）模様のCSS */
  /* background-color   : rgba(255, 255, 255, 0.10); */
  /* background-image   : radial-gradient(rgba(216, 179, 149, 0.53) 21%, transparent 80%),
                       radial-gradient(rgba(216, 179, 149, 0.53) 21%, transparent 80%);
  background-position: 0 0, 21px 21px;
  background-size    : 42px 42px; */

}

#secret-link{
  display: none;
}

#header{
  /* padding: 10px 0; */
}

#title{
  padding: 20px 0;
  /* height: 140px; */
  width: auto;
  font-size: 16px;
}

#main-menu{
  justify-content: center;
  height: 50px;
  width: auto;
  font-size: 16px;
}

.factor{
  display: flex;
  text-align: center;
  margin: 50px auto;
  justify-content: space-around;
}

.left{
  width: 45vw;
  margin-right: 0;
  text-align: right;
}

.right{
  width: 45%;
  margin-left: 0;
  text-align: left;
}

.centerize{
  margin: 0 auto;
  display: flex;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.download{ 
  font-size: 26px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.round{
  margin: 10px 0;
  max-width: 60%;
  border: solid;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}

.round-left {
  border-radius: 20px;
  position: relative;
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  width: 66%;
  font-size: 16px;
  background: #FFF;
  border: solid 3px;
  /* box-sizing: border-box; */
}

.round-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.round-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid;
  z-index: 1;
}

.history{

}

.content-main {
  margin: 70px 0;
}

.bar {
  text-align: center;
  border-bottom: 1px solid #605040;
}

.alert {
  padding: 10px 0;
  background-color: #CC2200;
  color: #FFFFFF;
}

.alert-title {
  padding: 0;
  font-size: 26px;
  text-align: center;
}

.alert-content {
  padding: 0;
  text-align: center;
}

#logo {
  height: 140px;
  /* background-color: #00FFFF; */
}

#logo-foot {
  height: 105px;
  margin: 0 auto;
}

#content {
  margin: 20px 0;
  padding: 0 0;
}

.download-iOS {
  margin-left: 20px;
  height: 60px;
  text-align: center;
  flex-grow: 0;
}

.navigator-arc {
  margin-right: 20px;
  height: 120px;
  /* margin: 0 auto; */
  text-align: center;
  flex-grow: 0;
}

.foot {
  padding: 10px 60px;
  background-color: #605040;
  color: #FFFFFF;
}

.foot-title {
  padding: 0;
  font-size: 26px;
  text-align: center;
}

.foot-content {
  padding: 0;
  text-align: center;
}

.foot-copyright {
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  color: #999999;
  font-family: 'Hiragino Maru Gothic ProN';
}

.f-container{
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.f-item{
  text-align: center;
  flex-grow: 0;
}

.f-item2{
  text-align: center;
  flex-grow: 1;
  font-size: 20px;
}

.f-item-mainmenu{
  margin-left: -1px;
  height: 50px;
  color: #605040;
  width: 15%;
  text-align: center;
  border-left: 1px solid #605040;
  border-right: 1px solid #605040;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  transition: .4s;
}

.f-item-mainmenu:hover {
  background: #605040;
  color: white;
}

.staff{
  margin: 20px 0;
}

.job{
  margin-left: 10%;
  width: 90%;
  display: flex;
  align-items: center;
}

.new-job{
  font-size: 20px;
  color: #a09080;
}

.mini-bar{
  text-align: center;
  border-bottom: 1px solid #a09080;
}

.job-block{
  background-color: #605040;
  width: 20px;
  height: 45px;
}
.job-text-out{
  width: 45%;
  min-width: 600px;
  padding: 0 20px 0 20px;
  margin: 0;
  height: 45px;
  background: linear-gradient(3deg, #99cc55, rgba(153, 204, 65, 0));
  display: flex;
  align-items: center;
}

.job-text{
  font-size: 30px;
}

.staff-name{
  margin-left: 15%;
  padding: 10px 0;
  font-size: 24px;
  max-width: 70%;
}

.new-staff-name{
  margin-left: 15%;
  width: 40%;
  padding: 10px 0;
  font-size: 24px;
}

.ppcontent{
  margin-left: 15%;
  max-width: 70%;
  font-size: 18px;
}

.ppcontent-aida{
  margin-left: 15%;
  line-height: 0.5em;
  max-width: 70%;
}

.ppcontent-2{
  margin-top: 20px;
  margin-left: 17%;
  max-width: 68%;
}